[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = ">=3.5.0"

[packages]
tensorflow = "*"
matplotlib = "*"
pillow = "*"
opencv-python = "*"
scipy = "*"
scikit-image = "*"

[dev-packages]

[scripts]
start-new = "python main.py -a new -o myModel.h5"
start-optimize = "python main.py -a optimize -i myModel.h5 -o myModel.h5"
start-use = "python main.py -a use -i myModel.h5"
start-predict = "python main.py -a predict -i myModel.h5"
start-predict-single = "python main.py -a predict-single -i myModel.h5"
start-predict-custom = "python main.py -a predict-custom -i myModel.h5"
