[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3.5"

[packages]
tensorflow = "*"
matplotlib = "*"

[dev-packages]


[scripts]
start = "python main.py"